PORT=3000

DATABASE_URL=jdbc:postgresql://ep-delicate-pine-an90ehc4-pooler.c-6.us-east-1.aws.neon.tech/Raahi_Services_V2?user=neondb_owner&password=npg_YMJCPmD5tUk4&sslmode=require&channelBinding=require
DB_USERNAME=postgres
DB_PASSWORD=yourpassword
DB_NAME=service_db